config global
	option 'failfast'	'no'
	option 'pidfile'	'/var/run/olsrd2.pid'
	option 'lockfile'	'/var/lock/olsrd2'
	option 'plugin'	'remotecontrol'

config olsrv2
	option 'lan' '{}'

config log
	option 'syslog'		'true'
	option 'stderr'		'true'

config telnet
	option 'port' '2009'
	option 'bindto' '0.0.0.0'

config interface
	option 'ifname' 'loopback'

config interface
	list 'ifname' 'testbed'


config remotecontrol
	option 'acl'	'default_accept'
